@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --beige: #e4e4e4;
    --beige-dark: #d7d5d565;
    --beige-light: #f8f6f6f0;
    --orange: #E59000;
    --orange-light: #F0DCB6;
    --orange-lighter: #e5910034;
    --orange-lightest: #f3eee6;
    --orange-dark: #c88003;
    --green: #1D3E3E;
    --green-light: #006064;
    --green-lighter: #bcdddb26;
    --green-dark: #015558;
    --gray: #504f4f;
}

.homepage {
    background-color: var(--green);
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 100px;
}

.homepage-subtitle {
    color: var(--orange-light);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
    background-color: var(--orange-light);
    border-radius: 5px;
}

.input {
    background-color: var(--beige-light);
    border: 2px solid var(--beige);
    border-radius: 5px;
    color: var(--gray);
}

.input:hover,
input:focus {
    background-color: var(--beige-dark);
    border: 2px solid var(--beige-dark);
}

.question {
    color: var(--orange-light);
}

.questions {
    background-color: var(--green);
    margin: 0 auto;
    max-width: 1000px;
}

.questions-container {
    margin: 100px auto 0;
}

.questions-container.card {
    background-color: var(--green-lighter);

    max-width: 1000px;

}

.button.questions-button {
    background-color: var(--green);
    border-color: var(--orange);
    color: var(--green-light);
}

.input.questions-input {
    border-color: var(--white);
    background-color: var(--green);
    color: var(--beige);
    margin-bottom: 15px;
}

.questions-input:hover {
    background-color: var(--green-lighter);
}

.button {
    background-color: var(--orange-lightest);
    border: 2px solid var(--beige);
    border-radius: 5px;
    color: var(--gray);
    display: flex;
    justify-content: center;
    width: 100px;
}

.button.main:hover {
    background-color: var(--orange-dark);
}

.button-cancel {
    background-color: var(--orange);
    border: 2px solid var(--orange-dark);
    color: var(--white);
}

.button-cancel:hover {
    background-color: var(--orange-dark);
}

.button.main {
    background-color: var(--orange);
    border: 2px solid var(--orange-dark);
    color: var(--gray);
    width: 200px;
}

.button.valid-success {
    background-color: var(--green-dark);
    border: 2px solid var(--green-dark);
    border-radius: 5px;
    color: var(--white);
}

.button.valid-success:hover {
    background-color: var(--green);
}

.valid-success {
    background-color: var(--green-lighter);
    border: 2px solid var(--green-light);
    color: var(--gray);
}

.valid-error {
    background-color: var(--orange-lighter);
    border: 2px solid var(--orange);
    color: var(--gray);
}

.error-message {
    color: var(--orange-dark);
    font-size: 16px;
    opacity: 0;
    padding: 0 0 0 15px;
}

.has-error {
    background-color: var(--orange-lightest);
    border: 2px solid var(--orange);
}

.show-error {
    opacity: 1;
}