@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --beige: #e4e4e4;
    --beige-dark: #d7d5d565;
    --beige-light: #f8f6f6f0;
    --orange: #E59000;
    --orange-light: #F0DCB6;
    --orange-lighter: #e5910034;
    --orange-lightest: #f3eee6;
    --orange-dark: #c88003;
    --green: #1D3E3E;
    --green-light: #006064;
    --green-lighter: #bcdddb26;
    --green-dark: #015558;
    --gray: #504f4f;
}

.homepage {
    background-color: var(--green);
    min-height: 100vh;
    padding-bottom: 100px;
}

.card {
    background-color: var(--orange-light);
    border-radius: 5px;
}

.input {
    background-color: var(--beige-light);
    border: 2px solid var(--beige);
    border-radius: 5px;
    color: var(--gray);
}

.input:hover {
    background-color: var(--beige-dark);
    border: 2px solid var(--beige-dark);
}

.button {
    background-color: var(--orange-lightest);
    border: 2px solid var(--beige);
    border-radius: 5px;
    color: var(--gray);
    display: flex;
    justify-content: center;
    width: 100px;
}

.button-cancel {
    background-color: var(--orange);
    border: 2px solid var(--orange-dark);
    color: var(--white);
}

.button.main {
    background-color: var(--orange);
    border: 2px solid var(--orange-dark);
    width: 200px;
}

.button.valid-success {
    background-color: var(--green-light);
    border: 2px solid var(--green-dark);
    border-radius: 5px;
    color: var(--white);
}

.valid-success {
    background-color: var(--green-lighter);
    border: 2px solid var(--green-light);
    color: var(--gray);
}

.valid-error {
    background-color: var(--orange-lighter);
    border: 2px solid var(--orange);
    color: var(--gray);
}