@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --beige: #f2f1edf2;
    --beige-dark: #f4f3ed65;
    --beige-light: #f8f6f1b8;
    --lilac: #3A11E6;
    --lilac-light: #9787e7df;
    --lilac-lighter: #2e00e534;
    --lilac-lightest: #f1f0f49b;
    --lilac-dark: #2f2075;
    --slate: #16252f;
    --slate-light: #375569;
    --slate-lighter: #3e6179a1;
    --slate-dark: #0f151a;
    --lilac-darker: #3510c7;
    --background-beige: #FFF1E4;
}

.homepage {
    background-color: var(--background-beige);
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 100px;
}

.homepage-title {
    color: var(--white);
    -webkit-text-fill-color: #FED302;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--slate-dark);
}

.homepage-subtitle {
    color: var(--slate);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homepage-spotlight {
    bottom: 25px;
    padding-bottom: 10px;
    position: relative;
    width: 50px;
}

.homepage-spotlight:last-child {
    transform: rotateY(180deg);

}

.card {
    background-color: var(--white);
    border: 1px solid var(--slate-lighter);
    border-radius: 5px;
    color: var(--slate);
}

/* .card:hover {
    border: 1px solid var(--slate);
} */

/* .card-name {
    color: var(--lilac);
} */

/* 
.card-title {
    color: var(--beige-dark);

}

.card-email {
    color: var(--beige-dark);

}

.card-questions {
    color: var(--beige);

}

.card-question {
    color: var(--beige-dark);

}

.card-answer {
    color: var(--beige);

} */

.input {
    background-color: var(--white);
    border: 1px solid var(--slate-light);
    border-radius: 5px;
    color: var(--slate-light);
}

.input:hover,
input:focus {
    background-color: var(--beige-light);
    border: 1px solid var(--slate);
}

.question {
    color: var(--lilac);
}

.questions {
    margin: 0 auto;
    max-width: 1000px;
}

.questions-container {
    margin: 100px auto 0;
}

.questions-container.card {
    max-width: 1000px;
}

.questions-title {
    color: var(--lilac);
}

.button.questions-button {
    background-color: var(--white);
    border: 1px solid var(--lilac);
    color: var(--lilac);
}

.input.questions-input {
    border: 1px solid var(--slate-lighter);
    background-color: var(--white);
    color: var(--slate);
    margin-bottom: 15px;
}

.questions-input:hover {
    background-color: var(--beige-dark);
}

.button {
    background-color: var(--white);
    color: var(--lilac);
    display: flex;
    justify-content: center;
    width: 100px;
}

.button-edit,
.button-delete {
    color: var(--lilac);
}

.button-cancel {
    background-color: var(--white);
    border: 2px solid var(--lilac);
    color: var(--lilac);
}

.button-cancel:hover {
    background-color: var(--lilac-lighter);
}

.button.main {
    background-color: var(--lilac);
    border: 2px solid var(--lilac);
    color: var(--white);
    font-weight: 700;
    margin: 20px auto;
    width: 210px;
}

.button.main:hover {
    background-color: transparent;
    color: var(--lilac);

}

.button.valid-success {
    background-color: var(--lilac);
    border: 2px solid var(--lilac-darker);
    border-radius: 5px;
    color: var(--white);
}

.button.valid-success:hover {
    background-color: var(--lilac-darker);
    border: 2px solid var(--lilac-darker);

    color: var(--white);
}

.valid-success {
    background-color: var(--lilac);
    border: 2px solid var(--lilac);
    color: var(--white);
}

.valid-error {
    background-color: var(--white);
    border: 2px solid var(--lilac);
    color: var(--lilac);
}

.error-message {
    color: var(--lilac-dark);
    font-size: 16px;
    opacity: 0;
    padding: 0 0 0 15px;
}

.has-error {
    background-color: var(--lilac-lightest);
    border: 2px solid var(--lilac);
}

.show-error {
    opacity: 1;
}